.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.exist {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin: 0 16px 0 0;
}

.button {
  width: 100px;
}