.container {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgb(0, 7, 53) url('./images/background.jpg') no-repeat center center;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}

.logo {
  width: 251px;
  height: 87px;
  background: url('./images/logo.png') no-repeat center center;
  background-size : contain;
  margin: 72px 0;
}

.avatar {
  height: 90px;
  width: 90px;
}

@media only screen and (max-width: 425px) {
  .content {
    width: 100%;
  }
}
